# Pulumi
.pulumi/
*.yaml.bak

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
build/
tmp/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Local config
Pulumi.dev.yaml
Pulumi.v2.yaml
env.sh
docker.zip
coverage/

# Node
node_modules/
playwright-report/
test-results/

# Sensitive data
k8s-deployment/secret.yaml
