apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: easylab

resources:
  - namespace.yaml
  - pvc.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
